.listMainDiv {
  width: 100vw;
  height: 80vh;
  overflow: scroll;
  background-color: black;
}
.listFlex {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.listPs {
  border-radius: 5vw;
  border-style: solid;
  border-color: white;
  padding: 1em;
  min-width: 30vw;
  text-align: center;
  color: white;
  background-color: black;
}
.listPs:hover {
  border-color: red;
}

.inputbox {
  height: 5vh;
  border-radius: 888px;
  padding: 1vh;
  font-size: 2em;
  border-color: blue;
}

.submitButton {
  height: 6vh;
  border-radius: 0 0 22px 22px;
  border-style: none solid solid solid;
  border-color: blue;
  padding: 1vh;
  font-size: 1.5em;
  background-color: white;
}
.submitButton:hover {
  background-color: red;
}

@media (max-width: 758px) {
  .listPs {
    width: 88vw;
    font-size: 1.5em;
    margin-bottom: 0vh;
    padding: 0.8vh;
  }
  .inputbox {
    width: 90vw;
  }
}
@media (max-height: 560px) {
  .submitButton {
    font-size: 0.8em;
    padding: 0.5vh;
  }
}
